{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
